version: "3"
services:
  nginx:
    build:
      context: ./build/nginx
    image: nginx-mage:v1.0
    hostname: nginx
    volumes:
      - ./conf/nginx/conf.d:/etc/nginx/conf.d
      - ./conf/nginx/ssl:/etc/nginx/ssl
      - ./logs/nginx:/var/log/nginx
      - ./sources:/home/public_html
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443

  php81-c2:
    build:
      context: ./build/php81-c2
    image: php8.1-c2-mage:v1.0
    hostname: php81-c2
    extra_hosts:
      - "host.docker.internal:host-gateway" 
    volumes:
      - ./sources:/home/public_html
      - composer_cache:/home/nginx/.composer
      - ./conf/php/php81-c2/magento.conf:/etc/php/8.1/fpm/pool.d/www.conf
      - ./conf/php/php81-c2/php.ini:/etc/php/8.1/fpm/php.ini
      - ./conf/php/php81-c2/php.ini:/etc/php/8.1/cli/php.ini

  mysql:
    hostname: mysql
    image: mysql:${MYSQL_VERSION}
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./conf/mysql/conf.d:/etc/mysql/conf.d
    ports:
      - 3308:3306

  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025

  redis:
      image: "redis:6.0-alpine"
      ports:
        - "127.0.0.1:6379:6379"
      sysctls:
        - "net.core.somaxconn=65535"
      volumes:
        - "redis_data:/data"

  elasticsearch:
      build:
        context: ./build/elasticsearch
        args: 
          ELASTICSEARCH_VERSION: ${ELASTICSEARCH_VERSION}
      image: elasticsearch-manual:${ELASTICSEARCH_VERSION}
      environment:
          - discovery.type=single-node
          - node.name=elasticsearch
          - cluster.name=es-docker-cluster
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      ulimits:
          memlock:
              soft: -1
              hard: -1
      volumes:
          - elasticsearch-data:/usr/share/elasticsearch/data
      ports:
          - 9200:9200

  rabbitmq:
      image: rabbitmq:3-management-alpine
      volumes:
          - rabbitmq-data:/var/lib/rabbitmq/
      environment:
          RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
          RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
          RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      ports:
          - 5672:5672
          - 15672:15672

volumes: 
  composer_cache:
  composer_cache_file:
  elasticsearch-data:
  redis_data:
  rabbitmq-data:
